# Vercel Deployment
# Get token from: https://vercel.com/account/tokens  (NEVER commit the real .env)
VERCEL_TOKEN=your_vercel_token_here
VERCEL_PROJECT_ID=prj_RY3nddcHvowhoBvop7ztByCiEAHy
VERCEL_TEAM_ID=team_2MkWeFBaSCv7DOvEy0OlX4s3

# App
PUBLIC_SITE_URL=https://preeway.com
